<!DOCTYPE html> 
<html> 
<head> 
  <title> Profile Page</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>

    .btn-default{
        background-color: #428BCA;
        color:#FFF;
        border-color: #428BCA;
    }
        
    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #23527b;
    color:#FFF;
    border-color: #23527b;
    }

  </style>
</head> 

<nav>
  <%- include('partials/navbarLoggedIn.ejs'); %>
</nav>

<body> 
    
    <div class = "search">
        <h1> Hi <%=name%>! </h1>
    </div>


    <div class="record-content">
      <h1>My record</h1>
      <% for(var i=0; i<records.length; i++){ %>
        <h3><%= records[i].date %></h3>
        <p> Food Intake: <%= records[i].FoodIntake %></p>
        <p> Water Intake: <%= records[i].WaterIntake %> litres </p>
        <% } %>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#recordModal">
        Record My Data
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="recordModal" tabindex="-1" role="dialog" aria-labelledby="recordDataModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="recordModalTitle">Record My Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form action="/publishrecord" method="post">
              
                <input type="date" class="form-control" name="date" id="date" placeholder="Date" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)
                (?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|
                (?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$" required>
                <small id="DateHelp" class="form-text text-muted">Enter Date in the format dd/mm/yyyy.</small>
              
              
                <input type="text" class="form-control" id="FoodIntake" name="FoodIntake" placeholder="Food Intake">
                <small id="FoodHelp" class="form-text text-muted">Enter food items separated by commas.</small>
              
              
                <input type="text" class="form-control" id="WaterIntake" name="WaterIntake" placeholder="Water Intake" rows="2">
                <small id="WaterHelp" class="form-text text-muted">Enter amount in litres.</small>
                <input type="text" class="form-control" id="vitals" name="vitals" placeholder="Add your average readings!">
                <small id="FoodHelp" class="form-text text-muted">Enter food items separated by commas.</small>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-default">Submit Record</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addDoctor">
      Add Doctor
    </button>
  </div>
    <div class="modal fade" id="addDoctor" tabindex="-1" role="dialog" aria-labelledby="recordDataModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="recordModalTitle">Record My Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form action="/linkdoc" method="post">
              
                <input type="text" class="form-control" id="pracnumber" name="pracnumber" placeholder="PracticianID">
                <small id="pracnumber" class="form-text text-muted">Please enter carefully</small>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-default">Submit Record</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addDoctor11">
      Search Record By Date
    </button>
  </div>
    <div class="modal fade" id="addDoctor11" tabindex="-1" role="dialog" aria-labelledby="recordDataModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="recordModalTitle">Record My Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form action="/recordbydate" method="post">
                <input type="date" class="form-control" name="date" id="date" placeholder="Date" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)
                (?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|
                (?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$" required>
                <small id="DateHelp" class="form-text text-muted">Enter Date in the format dd/mm/yyyy.</small>
              
                <textarea name='userid' style="display: none;"><%=id%></textarea>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-default">Submit Record</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="bg-modal">
      <div class="modal-contents">
    
        <form action="">
          <input type="text" placeholder="Date" required>
          <input type="text" placeholder="Food Intake">
          <input type="text" placeholder="Water Intake">
          <input type="text" placeholder="Average blood pressure">
          <button type="submit" onclick="onModalClose()">Submit</button>
          <button type="close" onclick="onModalClose()">Cancel</button>
        </form>
    
      </div>
    </div>-->

</body> 

<footer>
  <%- include('partials/footer.ejs'); %>
</footer>

</html>